body, h1 {
  font-family: "Raleway", sans-serif
}

body, html {
  height: 100%;
  background: #151515;
  color: white;
}

body {

}



.legend {
  font-family: 'Raleway', sans-serif;
  fill: #333333;
}

.tooltip {
  fill: #333333;
}

.bgimg {
    background-image: url('../images/top_bg.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.center-block {
  width: 90%;
  background-color: #F4F3F4;
  color: black;
  padding: 20 20 20 20;
}

.slide-container {
  overflow: auto;
  white-space: nowrap;
  padding-top: 20;
  padding-bottom: 12;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}

.country:hover{
  stroke: #fff;
  stroke-width: 1.5px;
}
.text{
  font-size:10px;
  text-transform:capitalize;
}
#container {
  /* margin:10px 10%; */
  padding: 20 20 20 20;
  border:2px solid #000;
  border-radius: 5px;
  height: 60%;
  overflow:hidden;
  background: #F4F3F4;
}
.hidden {
  display: none;
}
div.tooltip {
  color: #222;
  background: #fff;
  padding: .5em;
  text-shadow: #f5f5f5 0 1px 0;
  border-radius: 2px;
  box-shadow: 0px 0px 2px 0px #a6a6a6;
  opacity: 0.9;
  position: absolute;
}
.graticule {
  fill: none;
  stroke: #bbb;
  stroke-width: .5px;
  stroke-opacity: .5;
}
.equator {
  stroke: #ccc;
  stroke-width: 1px;
}
#click-feature-1 {
  font-size: 28px;
}

#click-feature-2 {
  font-size: 28px;
}

#click-feature-3 {
  font-size: 28px;
}

.label-1 {
  background-color: #ffe5ef;
}
.label-2 {
  background-color: #ffd7e9;
}
.label-3 {
  background-color: #ffd0d0;
}
.radarchart1-1 {
  background-color: #ffe5ef;
}
.radarchart1-2 {
  background-color: #ffd7e9;
}
.radarchart1-3 {
  background-color: #ffd0d0;
}
.radarchart2-1 {
  background-color: #ffe5ef;
}
.radarchart2-2 {
  background-color: #ffd7e9;
}
.radarchart2-3 {
  background-color: #ffd0d0;
}
.radarchart3-1 {
  background-color: #ffe5ef;
}
.radarchart3-2 {
  background-color: #ffd7e9;
}
.radarchart3-3 {
  background-color: #ffd0d0;
}
.radarchart4-1 {
  background-color: #ffe5ef;
}
.radarchart4-2 {
  background-color: #ffd7e9;
}
.radarchart4-3 {
  background-color: #ffd0d0	;
}
.btn-1 {
  background-color: #ffe5ef;
}
.btn-2 {
  background-color: #ffd7e9;
}
.btn-3 {
  background-color: #ffd0d0	;
}
