body, h1 {
  font-family: "Raleway", sans-serif
}

body, html {
  height: 100%;
  background: #151515;
  color: white;
}

body {}

.bgimg {
    background-image: url('/images/top_bg.png');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}

.center-block {
  width: 90%;
  background-color: #F4F3F4;
  color: black;
  padding: 20 20 20 20;
}

.slide-container {
  overflow: auto;
  white-space: nowrap;
  padding-top: 20;
  padding-bottom: 12;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
  fill-opacity: .9;
}

.x.axis path {
  display: none;
}

label {
  position: absolute;
  top: 10px;
  right: 10px;
}
